#tit{
    padding-bottom:30px;
    font-size:80px;
}
body{
    background-color:maroon
}
#buttonsDog{
    text-align:center;
    font-family: 'Sniglet', cursive;
}
.titleLink{
    text-align:center;
    font-family: 'Sniglet', cursive;
}
.ohYea{
    text-align:center;
    font-family: 'Saira Extra Condensed', sans-serif;
}
.titleScraper{
    text-align:center;
    font-family: 'Margarine', cursive;
}